package {{.Package}}

type {{.APIName}} interface {
{{ range $endpoint := .Endpoints }}
    {{$endpoint.Operation}}()
{{ end }}
}

{{- range $typeDef := .TypesDefs }}

{{ if eq $typeDef.Type "object" }}
type {{$typeDef.Name}} struct {
{{- range $field := .Fields }}
    {{$field.Name}} {{$field.Type}} `json:"{{$field.JSONName}}"`
{{- end }}
}
{{- else if eq $typeDef.Type "array" }}
type {{$typeDef.Name}} []{{$typeDef.ItemsType.Name}}
{{end}}

{{ end }}